<h1>Create New Employee</h1>

<ul>
<% if @employee.errors %>
  <% @employee.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
<% end %>
</ul>

<ul>
<%= form_for @employee do |f| %>
  <li><%= f.label :first_name %>
  <%= f.text_field :first_name %></li>

  <li><%= f.label :last_name %>
  <%= f.text_field :last_name %></li>

  <li><%= f.label :alias %>
  <%= f.text_field :alias %></li>

  <li><%= f.label :title %>
  <%= f.text_field :title %></li>

  <li><%= f.label :office %>
  <%= f.text_field :office %></li>

  <li><%= f.label :img_url %>
  <%= f.text_field :img_url %></li>


  <li><%= f.collection_select :dog_id, Dog.all, :id, :name %></li>

  <%= f.submit %>

<% end %>

</ul>
