
<style media="screen">
	body {
		background: url(<%= @employee.img_url %>);
	}
</style>

	
	
</style>

<div class="show-background">


<h1><%= @employee.full_name %></h1>

<ul>
  <li>Alias: <%= @employee.alias %></li>
  <li>Title: <%= @employee.title %></li>
  <li>Office: <%= @employee.office %></li>
  <li>Dog: <%= link_to @employee.dog.name, dog_path(@employee.dog) %></li>

</ul>


</body>


</div>