<h1><%= @employee.full_name %></h1>
<ul>
<li>Alias: <%= @employee.alias %></li>
<li>Title: <%= @employee.title %></li>
<li>Office: <%= @employee.office %></li>

<li>Dog: <%= @employee.dog.name %></li>
</ul>

<img src="<%= @employee.img_url %>" >
